[2017-05-06 01:31] rohbotics opened #1 "Verify goal is forward or else re-plan"

[2017-05-06 01:47] jim-v opened #2 "Add ActionLibServer interface"

[2017-05-06 01:48] jim-v opened #3 "Add some simple lidar/sonar obstacle detection"

[2017-05-06 02:24] jim-v opened #4 "Add speed ramping"

[2017-05-06 06:36] #4 closed

[2017-05-06 15:45] jim-v commented on #2
Not sure if we properly handle the case where a new goal is received while one is being executed.

[2017-05-06 16:57] jim-v commented on #2
Seems to handle new goals being received correctly.

[2017-05-06 16:57] #2 closed

[2017-05-06 21:45] jim-v opened #7 "Figure out why it rotates for ever when going to a waypoint with RobotCommander"

[2017-05-09 05:53] #7 closed, assigned to jim-v

[2017-05-10 06:26] jim-v commented on #3
Sorry to keep closing and reopening this, but I found some problems

[2017-05-10 08:45] #3 closed

[2017-05-10 16:41] #1 closed

[2017-05-10 16:43] jim-v opened #13 "Do a release"
One benefit is it would enable us to document the node in the conventional style on the ROS wiki.

[2017-05-10 23:27] rohbotics commented on #13
Done: https://github.com/ros/rosdistro/pull/14965

[2017-05-10 23:27] #13 closed, assigned to rohbotics

[2017-08-27 19:47] jrlandau opened #21 "Documentation says binary is not available"
also, doc says use rosrun.  Is there a launch?

[2017-08-28 01:54] jim-v commented on #21
The documentation for the _node_ refers to rosrun.   The documentation for _magni_ should refer to the magni-specific launch file.

[2017-08-28 03:15] #21 closed, assigned to rohbotics, jim-v

[2017-09-21 04:45] jim-v opened #24 "Going backwards doesn't work"
@jrlandau reported that goals behind don't work.

Question: should it handle this as a special case and actually move backwards, or do the arctan planner thing and rotate to face the goal and drive towards it?  If it moves backwards, then a front-facing LIDAR does not provide obstacle detection.

Definition of done:
Backwards goals result in behavior that considered reasonable by consensus.

[2017-09-21 04:54] jrlandau commented on #24
turning round takes quite some space, but moving backwards takes less, so
it may be useful to get out of a tight spot.

On Wed, Sep 20, 2017 at 9:45 PM, Jim Vaughan <notifications@github.com>
wrote:

[2017-09-23 05:28] rohbotics commented on #24
Maybe it makes sense to go backward for short goals (<0.5 m) and do the atan2 method for backward goals beyond that distance?

[2017-09-23 21:17] rohbotics commented on #24
Decision:

If within a threshold backward and in angular threshold, then arctan backward.

Otherwise do the 'current behavior' sans bugs.

[2017-09-24 18:17] #24 closed, assigned to jim-v

[2017-11-04 21:32] jim-v opened #26 "Detect obstacles via sonar"
Needs to handle input from sonar on Magni and Loki.

Done when Loki and Magni pause for obstacles.

[2017-12-28 02:15] rohbotics commented on #26
@jim-v How do you want to approach this?

I was thinking that we could check if the sonars cones are intersecting with the motion plan and slow down/stop if they are.

We could also go for the occupancy grid approach, filling it with sonar data, and then checking the plan against that.

Both of these would require some configuration to specify the robot footprint relative to base link.

[2017-12-30 19:10] jim-v commented on #26
![sonar](https://user-images.githubusercontent.com/5511255/34456645-a1a2c8bc-ed50-11e7-8025-800477ca4292.jpg)
@rohbotics I was thinking we could do it with 2D geometry, similar to how we handle LIDAR.
We should be able to look up the pose of the sonar `S` relative to `base_link`.  The vector `SA` is normal to the sonar, and it's length is calculated from the ping time. Vectors `SB` and `SC` are th

[2017-12-31 11:55] davecrawley commented on #26
What's out there already that solves these problems? Might save us from
re-inventing the wheel. I seem to have a vague recollection that someone
released a package that attempted to make Sonar data "LIDAR like". In short
a package that solves these very problems.

Rohan I think you told me about this - the author was a guy from google.

David

On Wed, Dec 27, 2017 at 6:15 PM, Rohan Agrawal <notifi

[2017-12-31 12:09] jim-v commented on #26
@davecrawley there are packages that create costmaps from sonar data, but that is unnecessarily complex for such a simple planner.

[2018-01-01 23:45] jim-v commented on #26
@rohbotics I did a proof of concept implementation in my personal repo: https://github.com/jim-v/move_basic/blob/sonar/src/sonar_ranger.cpp
It seems to work quite well, though I have only implemented obstacle checking in forward direction.

[2018-01-01 23:58] waynegramlich commented on #26
Are you doing this using Loki?

[2018-01-02 00:22] jim-v commented on #26
Yes - it's the only robot with sonars that I have access to.

[2018-01-02 05:36] waynegramlich commented on #26
I looked at the Sonar firmware in the `bus_loki` repo at `rev_f/bus_common/Sonar.cpp`.  It is pretty involved what I do when it comes to scheduling sonars for triggering.  It starts with `Sonars_Controller::poll()`.  I do two things, I prioritize sonars that are in the direction of travel (forward or reverse) and I prioritize sonars that previously returned that they were "close".  Thus, as the ro

[2018-01-06 17:34] rohbotics commented on #26
@jim-v Do you want to make a PR for at least the forward detection, so I can review it?

We can decide later whether to merge it, but doing a review in the earlier stages would probably be better than doing a massive one at the end of development.

[2018-01-20 18:35] jim-v commented on #26
Closed via #27

[2018-01-20 18:35] #26 closed, assigned to jim-v

[2018-01-20 18:39] jim-v opened #28 "Handle Lidar data with ObstacleDetector class"
Currently, obstacles are only detected via Lidar when moving forwards.  The ObstacleDetector estimates distances to obstacles when rotating and moving backwards too.   Handling Lidar and Range data in the same class will give better OO structure.

[2018-01-30 00:43] #28 closed, assigned to jim-v

[2018-02-13 13:48] anfederman opened #32 "Measured moves in robot commander"
Prior to the January release measured moves ( turn right 90 degrees ) worked fine for both Loki and Magni,
Even though no waypoints could be set. Now measured moves only work if aruco detect is running on Magni, and not at all on Loki.

Something is not working and I suspect a change to this node.

[2018-02-13 14:11] jim-v commented on #32
Can you run the command
[code]
After you give a move command and paste the output into this issue.

[2018-02-13 14:29] jim-v commented on #32
Also, please send the output of
[code]
from the robots you have been testing on.

[2018-02-13 17:25] anfederman commented on #32
apt-cache policy ros-kinetic-rosbridge-server
ros-kinetic-rosbridge-server:
  Installed: 0.8.6-0xenial-20180105-183806-0800
  Candidate: 0.8.6-0xenial-20180105-183806-0800
  Version table:
 *** 0.8.6-0xenial-20180105-183806-0800 500
        500 http://packages.ros.org/ros/ubuntu xenial/main armhf Packages
        100 /var/lib/dpkg/status

[2018-02-13 18:08] anfederman commented on #32
on boot. move_base topics:
 /rosbridge_ws/move_base/cancel
/rosbridge_ws/move_base/feedback
/rosbridge_ws/move_base/goal
/rosbridge_ws/move_base/result
/rosbridge_ws/move_base/status

now move basic or aruco connect so measured move commands in robot commander on loki don't work
after loading aruc and move_basic:

/move_base/cancel
/move_base/feedback
/move_base/goal
/move_base/result
/move_base/s

[2018-02-13 18:13] jim-v commented on #32
This is the problem:
[code]
It looks like rosbridge is pre-pending its namespace to the topics.

Re: So I think move-basic ain't talking to move base politely.

There is no `move_base` in this setup -- `move_basic` implements its interface.

@jrlandau  Can you change robot_commander to use the absolute name `/move_base`

[2018-02-13 21:29] anfederman commented on #32
/move_base/cancel
/move_base/feedback
/move_base/goal
/move_base/result
/move_base/status
/move_base_simple/goal
/tf
/tf2_web_republisher/cancel
/tf2_web_republisher/feedback
/tf2_web_republisher/goal
/tf2_web_republisher/result
/tf2_web_republisher/status

with rosbridge removed robot commander doesn't work at all.  Connects, but no movement even with arrow keys, though keyboard teleop works.  do

[2018-02-13 21:59] rohbotics commented on #32
@anfederman Rosbridge is required for robot_commander to be able to do anything.

The issue is that rosbridge is using topic names without a leading slash, once we put rosbridge into it's own namspace to handle both ws and wss, this meant that the topics were also namespaced, breaking the code.

@jrlandau can you make sure that all of the topic names in both robot commander and speech commands are

[2018-02-13 23:35] jrlandau commented on #32
@jrlandau <https://github.com/jrlandau> can you make sure that all of the
topic names in both robot commander and speech commands are fully qualified
(aka start with a '/').

I did that for the references to move_base, but it did not fix the problem
(measured move commands not working).

On Tue, Feb 13, 2018 at 1:59 PM, Rohan Agrawal <notifications@github.com>
wrote:

[2018-02-14 00:23] anfederman commented on #32
I just tested robot commander on Magni. Measured moves no longer work, neither do set waypoint or go to goal. RVIZ 2d nav go to goal does work. Prior to this weekend, robot commander was working. What happened after the huddle? This makes no sense, since I did not update or upgrade my Magni or Robot commander since last week.

[2018-02-14 00:31] jrlandau commented on #32
Do you do any launches when you bring the Magni up?

On Tue, Feb 13, 2018 at 4:23 PM, anfederman <notifications@github.com>
wrote:

[2018-02-14 01:43] jim-v commented on #32
@rohbotics I'm fairly sure we've tested `Robot_Commander` since the rosbridges were moved into namespaces, so I think it's something that changed in `rosbridge_websocket` recently.  However, making all topics `Robot_Commander` uses absolute seems like it would make us immune to it.

[2018-02-14 02:23] jrlandau commented on #32
There are some things that may or may not be considered "topics" but which
need the same treatment.  Here is a function I had to change:

        function setWaypoint (waypointName) {
      //
----------------------------------------------------------------------
      // Sets a rosparam to contain the waypoint
      //
----------------------------------------------------------------------

[2018-02-14 07:32] jim-v commented on #32
@anfederman [tf2_web_repubisher](http://wiki.ros.org/tf2_web_republisher) also implements an `actionlib` interface, hence the topics:

[code]

They are not related to the namespace issue, which renames `move_base` topics to `/rosbridge_ws/move_base`.  As mentioned, the fix is for Robot_Commander to use `/move_base`.

[2018-02-15 06:11] jim-v commented on #32
@jrlandau sent me an updated APK file for Robot_Commander.

On the robot, which had `magni_base` service running, I ran

[code]

Then on my phone, using the old app, I gave the verbal command "forward one meter".

The robot did not move and the bogus topics appeared:

[code]

Then, I installed the new app on my phone and restarted everything on the robot, to be in a clean state:
[code]

Once again

[2018-02-15 06:11] #32 closed, assigned to jrlandau

[2018-03-01 06:24] jim-v opened #34 "Spurious rotation"
When there is goal with a small linear displacement, move_basic rotates to travel in that direction a small amount before doing the final rotation.  This is confusing to the user when a pure rotation was expected.

[2018-03-01 11:30] mockbot opened #36 "Linker problem at Intel Euclid / Ubuntu 16.04"
Hi,
I'm trying to compile move_basic on Intel Euclid with Ubuntu 16.04 (ros kinetic).
During catkin_make process, I get a linker error:
[  0%] Linking CXX executable /intel/euclid/euclid_ws/devel/lib/move_basic/move_basic
CMakeFiles/move_basic.dir/src/obstacle_detector.cpp.o: In function `ObstacleDetector::range_callback(boost::shared_ptr<sensor_msgs::Range_<std::allocator<void> > const> const&)':

[2018-03-01 14:58] jim-v commented on #36
It seems that
[code]
is not a library function, but is implemented in
 `/opt/ros/kinetic/include/tf2_geometry_msgs/tf2_geometry_msgs.h`

Can you try adding

[code]
to `move_basic/src/obstacle_detector.cpp` and let me know what happens.

[2018-03-01 17:56] jim-v opened #37 "Detect odometry problems"
move_basic detect if a robot is not reporting odometry consistent with the way it is being asked to move and abort with an error message.

DOD: test on a robot with disconnected/cross-connected encoders and verify it detects the odometry problem.

[2018-03-02 20:52] trainman419 commented on #36
Cross-post: https://answers.ros.org/question/284071/move_basic-linker-problem-intel-euclid-ubuntu-1604/

[2018-03-03 01:50] #34 closed, assigned to jim-v

[2018-03-03 23:38] jim-v opened #38 "When rotating, obstacles are detected, but rotation happens anyway"

[2018-03-04 20:39] jim-v commented on #36
@mockbot We have been unable to come up with a solution to your problem.  The package builds for us on X86_64, Raspberry Pi, and in the ROS build farm.  Do you have problems building any other packages?

[2018-06-04 19:56] #38 closed, assigned to jim-v

[2018-06-23 00:06] anfederman opened #40 "Laser frame hardcoded in move_basic"
On my bot vac which is getting LDS Scan data, my obstacle distance is fxed at 9.9

getting this warning:

[ WARN] [1529711837.494609404]: "laser" passed to lookupTransform argument source_frame does not exist.

Additional Data:

$ rostopic info /scan
Type: sensor_msgs/LaserScan

Publishers:
 * /neato (http://ubiquityrobot.local:43879/)

Subscribers:
 * /move_basic (http://ubiquityrobot.local:40399

[2018-06-23 04:06] rohbotics commented on #40
In move_basic the "laser" frame is hardcoded instead of looked up via the message.

[2018-06-25 17:43] #40 closed, assigned to rohbotics, jim-v

[2018-06-28 00:11] davecrawley opened #42 "Add second rotate back to small moves in move_basic"

[2018-06-28 02:04] jim-v commented on #42
The second rotate was not removed; it just doesn't happen if the distance involved is less than the value of the `linear_tolerance` parameter.

See https://github.com/UbiquityRobotics/move_basic/pull/35/files

This parameter can be set lower, but *cannot* be zero, since the result of `atan2(0,0) is undefined.

[2018-06-28 02:04] #42 closed, assigned to nobody

[2018-09-22 04:57] rohbotics commented on #36
Closing due to age and weird platform bugs.

Hope it all worked out well

[2018-09-22 04:57] #36 closed, assigned to jim-v

[2019-02-17 16:57] rohbotics opened #43 "'odom' and 'base_link' frames hardcoded"
I am not entirely sure if this is an actual problem, but the frame names are hard coded in.

This might block https://github.com/UbiquityRobotics/magni_robot/issues/67

[2019-02-19 07:46] #43 closed, assigned to rohbotics

[2019-04-17 15:56] jim-v opened #47 "Create better test for navigation being complete"
Definition of done: definition of done :slightly_smiling_face:

[2019-05-27 07:22] jim-v opened #48 "Maintain timestamps for obstacle distances"
The forward, left, and right obstacle distances could each have timestamps associated with them based upon the timestamps of the sonar sensors that contributed to them. The relevant code changes would be on `ObstacleDetector::obstacle_dis()t` and `MoveBasic::moveLinear()`.  This would lead to smoother control of steering based on side distances.

[2020-05-21 20:13] rohbotics opened #53 "Smoothly operate between multiple goals"
Design Spec (gDoc) https://docs.google.com/document/d/1VMVLXGuo9FLRNtYYDwZhG0O-8cJYbZzX8QA-8RhGGFY/edit?usp=sharing

[2020-05-21 20:16] MoffKalast commented on #53
[Current design spec.](https://slack-files.com/files-pri-safe/T04BZFRLG-F012W3G1RDY/multiple_goals_in_move_basic_v2.pdf?c=1590092159-a6f24a310c009ba1)

[2020-07-13 21:17] rohbotics opened #57 "Unit tests for Queueing behavior"
We need unit tests for the behavior introduced in https://github.com/UbiquityRobotics/move_basic/pull/56

These should test the QueuedActionServer to make sure that goals are processed the way that we expect them to be.

[2020-07-30 15:41] rohbotics opened #59 "Abort if progress not being made towards goal"
One way to implement this is to store the timestamp of when we last decreased the distance to goal. If that timestamp is older than some threshold, then abort the goal.

Another way: we could also store the shortest distance we have been to the goal, and if we go over some threshold from that we abort that goal.

I am not sure which way makes more sense.

This may also solve #37 at the same time.

[2020-08-05 13:01] THOSE-EYES opened #62 "Robot hit the brakes not in time to stop at the point"
We have a robot which is using the move_basic package. But the problem is the robot tries to stop, but can't hit the  point (traveled distance always after the point). It's because of the PID controller we use (it tries to smooth our velocity and and the package assumes that the robot stopped when it's actually moving). move_basic doesn't use a real data (from odometry), so that's the problem. Ple

[2020-08-05 17:50] #59 closed, assigned to dorkamotorka

[2020-08-06 12:53] #62 closed, assigned to nobody

[2020-08-06 12:55] THOSE-EYES opened #63 "distRemaining is constant"
The problem is that distRemaining is always constant due to being assigned using the "linear" variable. The solution is to change line 738
`double distRemaining = sqrt(linear.x() * linear.x() + linear.y() * linear.y());`
to
`double distRemaining = sqrt(remaining.x() * remaining.x() + remaining.y() * remaining.y());`

The solution is tested and works fully.

[2020-08-06 20:55] dorkamotorka commented on #63
Thank you for the request. Changes have been applied.

[2020-08-06 20:55] #63 closed, assigned to dorkamotorka

[2020-08-12 06:04] #57 closed, assigned to dorkamotorka

[2020-08-12 06:13] dorkamotorka opened #66 "Investigate goal preempting"
After doing the Unit test for goal Queueing behaviour, this line manage to fail 7/10 times (not on all computers - on some does fail, on some not).
https://github.com/UbiquityRobotics/move_basic/blob/e88ccab63683a4aab49c0e9279adcfb15827e9d7/test/test_goal_queueing.cpp#L203

[2020-08-24 07:22] dorkamotorka commented on #66
According to: http://wiki.ros.org/actionlib in paragraph **8. SImpleActionServer Goal Policies**:  "isPreemptRequested should be called after accepting the goal even for callback-based implementations to make sure the new goal does not have a pending preempt request."

[2020-09-25 09:33] dorkamotorka opened #68 "Visualize robot's path in Rviz"
It would be nice to have a vizualization of the robot path.
Currently we are publishing our planned path (in move_basic) to /plan topic, which draws a straight line between the current position and the goal.
The fact that now we are implementing a smooth drive, we should visualize the trajectory in the same manner.
This will be more feasible when #53 closes.

[2020-10-01 14:46] asasine opened #70 "Release a ROS melodic version on package manager"
Can this package be released for ROS melodic?

I have cloned and built this against ROS melodic on Ubuntu 18.04.5 LTS and it appears to work. I don't know the steps to get this released into the package manager though.

Thanks!

[2020-11-12 14:30] JanezCim opened #72 "move_basic does not respect max_angular_velocity parameter"
ROS: kinetic

After move_basic is launched, the `param max_angular_velocity` is confirmed to be set to 0.01rad/s:
[code]
but when the robot is moving, im seeing big jumps in `cmd_vel/angular/z` - from 0.5 to -0.5

[2020-11-13 09:54] JanezCim commented on #72
Found out that parameter `max_angular_velocity` is meant for maximum angular velocity, while robot is **turning on the spot**, while the parameter `max_lateral_rotation` controls the maximum angular velocity while **driving towards goal**. This answers this issue but maybe the names of the parameters are a bit unintuitive? @rohbotics

**suggestion:** max_turning_velocity, max_lateral_velocity
**su

[2020-11-13 10:34] dorkamotorka commented on #72
I would go with the suggestion(1), because it kind makes sense for me that one stands for the velocity when turning in-place, while the other stands for the lateral velocity, while robot should be moving linear. I can imagine the cases where these two should have different default values.

[2020-11-20 16:05] manosmaroulis opened #73 "remaining distance stays the same"
Hello i am trying to use the move_basic package for a simple inertial navigation system,i provide odometry and imu data to the robot_pose_ekf package and publish my transform message from odom to base_link. I use driving in odom frame and tried planning in both odom and base_link frame, but when i use the odom planning frame my rovers seems to do a circle and stop and when i try base_link the rema

[2020-11-25 09:04] JanezCim commented on #72
So I'm going to close this issue because we found the answer to the main question. Im going to open a new one for the unintuitive parameters-

[2020-11-25 09:04] #72 closed, assigned to JanezCim, dorkamotorka

[2020-11-25 09:11] JanezCim opened #74 "max_lateral_rotation and max_angular_velocity parameters not clear and undocumented"
Found out that parameter `max_angular_velocity` is meant for maximum angular velocity, while robot is **turning on the spot**, while the parameter `max_lateral_rotation` controls the maximum angular velocity while **driving towards goal**. This answers this issue but maybe the names of the parameters are a bit unintuitive? The [ROS wiki page](http://wiki.ros.org/move_basic) also doesn't even menti

[2020-11-25 09:16] JanezCim opened #75 "Add dynamic reconfigure to move basic"
It would be beneficial to add params of move basic to dynamic reconfigure as it would enable faster debugging and optimising

[2020-11-25 09:19] JanezCim commented on #75
This is being addressed in branch `feature-dynamic_reconfigure`

[2020-12-03 13:43] #68 closed, assigned to dorkamotorka

[2020-12-08 10:40] dorkamotorka commented on #73
#63 should solve that. If it still doesn't solve the problem for you, please re-install the move_basic pkg. Last but not least record the rosbag and post it here so we can debug it.

[2020-12-14 07:55] dorkamotorka commented on #75
This is implemented #76 and will close this issue when merged.

[2020-12-14 08:23] dorkamotorka commented on #74
Suggestion1 was implemented in #76

[2020-12-20 13:29] JanezCim opened #77 "feature-nav parameter missmatch"
Im writing this as a separate issue, because this is more clear that just adding comments to #76.

In feature-nav branch there are some paramter missmatches that i've noticed:

 -  parameter that used to be robot_front_length is now forward_obstacle_threshold - old one is still exposed in collision_checker.cpp - similar is true with robot_width - now min_side_dist
 -  where has the robot_back_leng

[2020-12-22 19:05] MoffKalast opened #78 "Add option to not rotate when the received quaternion is not unit"
We've discussed this a fair bit, ultimately it would be of great help in many projects if move basic could just be told to go to a goal with no proper rotation specified. The most straightforward way of doing this seems to be just sending an invalid rotation, which does intuitively make sense and goes into the realm of expected behaviour.

Optionally we may need to add a parameter to enable this,

[2021-01-11 11:58] JanezCim commented on #78
This was addressed in 335df40cd4a62d65060571c538fb789a47150731 and is now being tested in aislemode. Will not be added to main branch until the relevant people agree

[2021-01-11 14:24] MoffKalast commented on #78
![tenor](https://user-images.githubusercontent.com/9977799/104193934-f15ca780-5420-11eb-9b97-da909ab327ee.gif)

[2021-02-08 11:27] dorkamotorka commented on #73
Re-open this issue if it still present on your platform.

[2021-02-08 11:27] #73 closed, assigned to nobody

[2021-02-08 11:32] dorkamotorka opened #80 "External force during goal following"
Currently if the robot is moving towards the goal and is moved or hit by some other dynamic object it does not update it's pose according to the goal and therefore misses it.

PROPOSED SOLUTION:
Keep track of goal_frame~base_frame transform during movement and update it accordingly if needed.

[2021-02-15 11:23] MoffKalast opened #81 "Robot driving past goals into infinity"
In a nutshell if the robot comes into such a case where it misses a goal it doesn't stop but attempts to drive ahead and loop around to find the goal. That's obviously problematic in almost all cases.

A suggested fix would be to constantly calculate a safety dot product between the robot's forward vector and the vector from the robot center to the goal, then stop driving if the result is <= 0 and

[2021-02-15 15:08] JanezCim commented on #81
This is a big issue when there are non-ideal conditions present: 1.) when the robot is externally pushed out of its current position, 2.) when navigation algorithm is unreliable and the robot is constantly jumping around

[2021-02-16 12:07] dorkamotorka commented on #77
I don't know to which branch this is related since some of these information does not seem to be relevant for the "master" (kinetic-devel) branch. **Kinetic devel features** branch is currently applying step by step features, documentation etc. We should either update the issue or create a new one related to master branch since others are project specific.

[2021-02-16 12:18] JanezCim commented on #77
I'm unclear on the parameter names and if they are missmatched in the `feature-nav` branch. This issue does not concern the parameters in master branch

[2021-02-16 12:49] dorkamotorka commented on #77
robot_front_length, robot_width, robot_back_length are parameters for robot footprint.
forward_obstacle_threshold, min_side_dist are parameters for how far from the robot obstacles should at least be - it's like a deadzone where obstacles shouldn't be so the robot can turn and drive through.

[2021-02-16 12:57] dorkamotorka commented on #66
Closing since preempting works(Tested multiple times with smooth cornering and breadcrumb)

[2021-02-16 12:57] #66 closed, assigned to nobody

[2021-02-16 13:21] JanezCim commented on #77
okay, why do we need `robot_front_length` if we already have `forward_obstacle_threshold`? I currently have then at the same value. Same for `robot_width` vs `min_side_dist`. Sorry for interrogation but i really dont understand the difference

[2021-02-16 13:29] JanezCim commented on #77
i guess what im asking is is there a scenario where `robot_front_length` would be different from `forward_obstacle_threshold`?

[2021-02-16 14:24] dorkamotorka commented on #77
- I think the idea behind `robot_front_length` and `robot_width` is that you have a square which represent the robot(this can be further extended to have a arbitrary polygon) and with this footprint you keep calculating the distance between obstacles and the shape of the robot (this is helpful so you have distance to the shape and not to the base frame I guess)
- If we wouldn't have a footprint sh

[2021-02-16 19:24] dorkamotorka commented on #53
Done in the breadcrumb repository. In near future we should decide whether we will merge it into move_basic or create a separate package. Closing

[2021-02-16 19:24] #53 closed, assigned to dorkamotorka

[2021-02-18 17:52] MoffKalast opened #83 "Terminal status for goals"
It seems that occasionally when using move_basic through the action client it's possible to get the following result when preempting:

[code]

Upon which move_basic seems to lock up sometimes. The solution would be to check in which case it's possible to end the callback without calling set_something for the goal before returning. Found in  nav-features-aislemode branch, possibly a problem in othe

[2021-02-18 19:32] MoffKalast commented on #83
After more research it seems to be a bug in the action client itself, so we'll have to watch to never get into situations where this can occur instead.

https://github.com/ros/actionlib/issues/126

[2021-02-18 19:32] #83 closed, assigned to dorkamotorka

[2021-02-19 12:18] dorkamotorka commented on #83
From my experience this is usually not a bug in the actionServer but rather our code that set a goal two time successful or aborting the same goal multiple times.

[2021-02-19 13:44] MoffKalast commented on #83
Well in this case it may just be both 😑

[2021-02-20 13:44] dorkamotorka opened #84 "move_basic Features"
This Issue names the features included in `nav-features` branch that will be merged into `kinetic-devel` once all the relevant people agree.

Last stable commit was `7148b24c7c5a436e56fcefe9fc344dfd12be1edb` on branch `nav-features`. If any of the features break your code, please refer to this commit and report your problem in this issue.
Changes applied from last stable commit are:
- **Removed ve

[2021-02-20 17:31] dorkamotorka opened #85 "Wrong goal preempting"
According to design spec of QueuedActionServer:
_If another goal is received, add it to the queue. If the queue is already full, then set the current goal to preempted, start executing the next one in the queue, and add the new one to the queue._

What actually happens is that the new goal preempts the second goal in Queue and executes it after it finishes the first.

[2021-03-01 20:12] JanezCim commented on #75
This was done

[2021-03-01 20:12] #75 closed, assigned to JanezCim, dorkamotorka

[2021-03-02 01:14] MoffKalast opened #86 "Using both sonars and lidar at the same time for collision detection"
In cases where the lidar is mounted super high or low on the robot we can't detect all obstacles and must also look at the sonars and not just the laserscan despite it being available.

[2021-03-02 09:50] dorkamotorka commented on #86
Both the sonar and LiDAR data should be published at the same time. I guess the frequency of the sonar data is to low or something since:

https://github.com/UbiquityRobotics/move_basic/blob/7c277c3270a00cead60f65f3c883a2633905ceb0/src/obstacle_points.cpp#L204

I will test this and post results here.

[2021-03-11 13:48] JanezCim commented on #84
I think the HEAD on nav-features is now sufficiently bettern then this last stable so we can close this

[2021-03-11 13:48] #84 closed, assigned to dorkamotorka

[2021-03-22 19:26] #37 closed, assigned to dorkamotorka

[2021-03-22 19:26] #47 closed, assigned to dorkamotorka

[2021-03-22 19:26] #74 closed, assigned to rohbotics, dorkamotorka

[2021-03-22 19:26] #81 closed, assigned to dorkamotorka

[2021-03-22 19:28] dorkamotorka commented on #85
Preempting appears to work after multiple on robot testing.

[2021-03-22 19:28] #85 closed, assigned to dorkamotorka

[2021-03-22 19:29] dorkamotorka commented on #78
Done: https://github.com/UbiquityRobotics/move_basic/blob/f855e697873ede218f482488ddfff3125bd40844/src/move_basic.cpp#L380

[2021-03-22 19:29] #78 closed, assigned to dorkamotorka

[2021-03-22 22:48] dorkamotorka commented on #77
@JanezCim are we clear on that?

[2021-03-22 23:00] MoffKalast commented on #77
It's gonna be so funny when Janez wakes up on Thursday with a hundred million email pings from all repos.

[2021-03-23 02:40] rohbotics opened #88 "Noetic release move_basic"
We need to test and release move_basic for noetic.

[2021-03-23 15:59] anfederman commented on #88
I haven't tested yet.

On Mon, Mar 22, 2021 at 7:40 PM Rohan Agrawal ***@***.***>
wrote:

[2021-03-25 09:38] JanezCim commented on #77
@tp4348 If you understand all the params, both in move_basic.cpp and in collision_checker.cpp, then im fine, we can solve further issues with understanding these down the line
@MoffKalast thats why the "Unsubscribe all" button is there :)

[2021-03-25 10:03] #77 closed, assigned to JanezCim, dorkamotorka

[2021-03-26 18:15] mjstn opened #89 "Aborting a goal due to moving away from goal needs to be ROS option enabled"
We recently went through a great deal of debug time tracking down why Aisle mode was aborting after turning around at the end of an aisle.    We discovered it was due to 'Moving away from goal'.
Aisle mode has its own logic above move basic to deal with abort of goal.  too many cooks spoil the broth.

Aisle mode will need that sort of abort to be disabled and I suggest ROS option.

[2021-03-27 10:16] dorkamotorka commented on #89
@JanezCim this can be implemented in the "side-branch" for Aisle mode, but at the same time should also be debugged what is causing it and fix it for master branch.

[2021-03-29 06:31] JanezCim commented on #89
Maybe lets not have any more side branches :) I think the smartest way may be that we go through the changes together with @tp4348 and see what might be causing the problems.

[2021-03-30 13:24] JanezCim commented on #89
This was handeled in https://github.com/UbiquityRobotics/move_basic/commit/96e08045ee347f27917d3aacca042a330d344669

[2021-03-30 13:24] #89 closed, assigned to JanezCim

[2021-04-03 07:44] mjstn opened #90 "Suggest we decouple direct colision feature from move_basic"
In general it may be time to have move_basic only use sonar data for modifications to path planning and not try to outsmart the 'danger of collision'  function required on most systems.    The text below was a post to our slack channel but am keeping it here in case this issue becomes prioritizd as an actionable issue.

it is time to re-think and remove all the nasty sonar baggage from move basic

[2021-04-03 09:54] dorkamotorka commented on #90
A copy of my comment on Slack, to not get lost:

If we "move" the movement part from move_basic to motor_node I think that's good since we will have a dynamic model and a controller in motor_node defined(programmed) anyway(Gen 6). What we should also consider is that its should be general enough (expose so many parameters), that it will be easily configurable also for Breadcrumb and any other Robo

[2021-04-06 08:41] JanezCim commented on #90
Things that might me usefull to add into consideration
a) showing on toucscreen and/or webapp that you have safety stopped and why
b) think about how this is going to interact with any "mode manager" now and in the future (think aislemode, random walk, teleop mode, ...)
c) when you safery stop, what moves do you allow? Backward only? Turning? How does move_basic know that?
d)...

This usually beco

[2021-04-08 14:05] dorkamotorka commented on #90
Its not actually an architecture I made but I think that in this case we can benefit from twist_mux (multiplexer) majorly.
![image](https://user-images.githubusercontent.com/48418580/114040257-baf9c180-9883-11eb-8a41-c74ba165c93a.png)

I think this as easy and general we can go. This enables us also to use collision avoidance when we are controlling the robot with joystick/keyboard it enables mult

[2021-04-08 15:36] rohbotics commented on #90
@tp4348 That is a pretty standard architecture in ROS, and we should definitely implement it. http://wiki.ros.org/twist_mux already exists, and allows for different inputs to have different priorities.

As for getting the collision stuff out of move_basic, I agree that we should have a new node that does the basic level of this. Something that takes in the requested velocity, evaluates the safety

[2021-04-08 16:53] dorkamotorka commented on #86
I've tested on Magni and points (detections) from both are used. I think this might be more of a Polaris problem.
@MoffKalast  can we close this issue or should wait for Polaris to arrive in TP in 2022 ? ;)

[2021-04-09 08:51] dorkamotorka opened #91 "Suggest we use laser_filters instead of scan filtering in obstacle_points.cpp"
There is a lot going on in obstacle_points.cpp to filter LiDAR scan to get the actual obstacle points.

I would suggest to use laser_filters ROS package which has a support for Kinetic, Melodic, Noetic. More here:  http://wiki.ros.org/laser_filters

The only thing that bothers me is that this then mean that move_basic is not a standalone package anymore but rather uses another ROS package.

What d

[2021-04-09 14:29] MoffKalast commented on #86
I've tested it myself a while back and yes it should be working in theory, but polaris doesn't really stop using sonars in gazebo either.

Right now I'm thinking of doing a separate node that blocks movement once only the front sonar gets blocked for a specified time, so I can tweak it specifically for these trash sensors. Gonna be a bit hard to do without the actual hardware but I think mark has

[2021-04-09 14:34] MoffKalast commented on #91
Well all of our actual software suites already use the laser filters, so that would make sense.

Unfortunately move_basic also needs to work in a separate fashion so I'd suggest making a launch file that demoes a laserscan setup by launching move_basic, remapping scan to scan_filtered and launching the filters too.

[2021-04-14 07:25] JanezCim commented on #91
I agree with having laser filters instead because they include some super useful features like shadow filtering and such if we need them down the road. It can get pretty CPU intensive for PI tho, so i would always be concious of that. You can find examples of what @MoffKalast suggest in other project repos :)

[2021-04-16 08:41] JanezCim commented on #90
I agree with @rohbotics , twist mux in its as-is form does not allow turning while safety stop is enabled, while move_basic does, which is a super usefull feature and would be bad to loose it.

[2021-04-19 11:16] dorkamotorka commented on #86
I think this should be easily feasible after #90 closes.

[2021-04-22 23:16] MoffKalast commented on #80
@tp4348 I've just done a round of tests with ezmap and feature-external-force in gazebo and it performs super well, at least as long as the map localization manages to actually find the new position properly. So if it works well in real life tests I'd vote for it to be merged into kinetic-devel as soon as possible since it's really a much needed addition.

[2021-04-23 07:01] dorkamotorka commented on #80
Well yeah it's updating in map frame haha. I think I will be able to test it on Sunday if @GreTimotej can't make it earlier.

[2021-04-23 08:45] MoffKalast commented on #80
Yep, it's expected, I'm just saying we might need to look at iris_lama next if we're still having problems afterwards.

[2021-06-07 18:14] MoffKalast opened #94 "Rotation-only goals ignored"
So it would seem that sending simple or actionclient goals without a translational change results in a complete disregard of the goal.

For example, sending a simple goal:

[code]

The base proceeds to do nothing. It seems that the threshold for movement is at around 4cm on both x and y, so if we send a goal at 0.04 0.04 180 it does actually work. Anyhow, pretty annoying and I'm almost sure this u

[2021-06-07 18:23] MoffKalast commented on #94
Another thing, the workaround I mentioned doesn't fully work either it seems.

[code]

The rotation and translation do get executed, but the goal itself doesn't get labeled as succeeded, but stays in the active state (1), so the actionclient doesn't know it's done and cannot proceed.

(this is using the latest kinetic-devel, but the same thing happens on feature-externalforce so it's bound to be a

[2021-06-09 06:22] dorkamotorka commented on #94
Done in 629c0815c25586fe0e125247dd37b5224a89b7a6

[2021-07-06 08:07] GreTimotej commented on #80
Today I tried the above mentioned issue. I was moving the robot while driving and it went back to its course. I think that is it?

[2021-07-06 09:20] MoffKalast commented on #80
That's mostly it, but I think there were some issues with it the first time it was tested? Are those resolved?

[2021-07-07 19:31] dorkamotorka commented on #80
Timotej was the one testing it so I guess since the second testing was successful we can close this.

[2021-07-07 19:32] dorkamotorka commented on #80
On which branch were you testing @GreTimotej? This one: https://github.com/UbiquityRobotics/move_basic/tree/feature-external-force?

[2021-07-19 19:01] dorkamotorka commented on #86
Confirmed working using both Sensor and LiDAR. #90 is a separate long-term issue.

[2021-07-19 19:01] #86 closed, assigned to MoffKalast, dorkamotorka

[2021-08-17 17:43] rohbotics commented on #88
Done

[2021-08-17 17:43] #88 closed, assigned to dorkamotorka

[2021-08-30 05:13] #80 closed, assigned to GreTimotej, dorkamotorka

[2021-10-21 13:50] MoffKalast opened #98 "RootRework: Rotational Collisions"
I suppose this is something that we all know about, but nobody ever brought it up as an actual issue.

Here's a worst case scenario example:

https://user-images.githubusercontent.com/9977799/138290844-c99feae5-af33-458e-a6a2-a8d1d6eed770.mp4

Like how many times has a magni scraped a wall or hit something with the rear end when turning? Happens so often that I even set up foam bumpers on this one

[2021-10-21 14:10] JanezCim commented on #98
I think this might be already built into move_basic. Maybe make the `min_side_dist` larger?

[2021-10-21 20:31] dorkamotorka commented on #98
Correct, this is missing. During turning robot only decreases speed in case of obstacles but does not stop.

[2021-10-21 23:07] MoffKalast commented on #98
Sounds like it would be an easy fix to just have the speed go to zero instead?

[2021-10-28 18:14] MoffKalast commented on #94
Still seems to occur in gazebo, when issuing goals without a any notable linear component. For some reason it doesn't happen on the real robot though.

[2021-10-29 06:15] dorkamotorka commented on #94
OK, will take a look into that.

[2021-11-02 21:46] MoffKalast opened #99 "Sending goal succeeded when it doesn't seem to have"
Something odd reported by a client, they seem to be getting a "MoveBasic: Done linear" in cases where the robot hits the goal, but more often than not the case is as follows:

- nothing gets printed in the console
- linear is done, but not very accurately
- final rotation is done
- action client receives goal succeeded despite being more than linear_tolerance away from goal, again nothing printed

[2021-11-02 21:49] MoffKalast opened #100 "Oddly consistent offset"
Another thing seen by a client, it seems that in some cases the robot follows goals with a constant offset of sorts. It's likely this is related to lidar position calibration, but it could also be related to not fetching the robot's position often enough, the transform request failing or something similar. Again, perhaps worth a closer look.

[2021-11-02 21:51] MoffKalast opened #101 "More aggressive external force correction"
In the stock configuration it seems that the robot doesn't quite correct its drift quickly enough if the goal is a close distance (<2m or so) away. There is probably a curve somewhere or a set of PIDs that determine how much the robot steers towards the right location if it finds itself off course.

That part seems to need some boost when the calculated offset isn't a large value as it doesn't get

[2021-11-04 04:50] dorkamotorka commented on #99
Seems to me that driving in map frame imposes a whole lots of problems we don't yet understand.
Move_basic was extensively tested using odometry (driving odom frame) but as soon as we integrated it with EzMap and LaMa bunch of I think localization problems is accuring that affect the navigation perfomance.

Can the client try and see the perfomance using odom only, without map. This can help us un

[2021-11-04 04:52] tp4348 commented on #99
Nothing gets printed in the console?
Linear goal is done?

When, what we they trying to achieve and failed?

[2021-11-04 05:00] dorkamotorka commented on #100
The frequency of fetching robot position is 20Hz. Which is I think also the localization frequency using map? Correct me if I am wrong. What kind of offset are they experiencing? Linear or Lateral offset or is robot driving with a constant orientation error?

[2021-11-04 05:11] dorkamotorka commented on #101
Can we get a video of that? How much was the robot moved of coarse? Was it done intentially for testing purposes or can mentioned external force actually happens more often that not in the clients scenario?

Yes, the PID configuration is rather soft(by default a bit slower corrections) and can be retuned but there is no "best" general parameters, since the PIDs also highly affect the driving perfo

[2021-11-04 06:41] dorkamotorka commented on #94
I cannot reproduce the issue in Gazebo, it works for me. I was publishing rotation only goals with **rostopic pub**.
How can I reproduce it?

[2021-11-04 10:12] MoffKalast commented on #101
Well I've been shown some live demos via zoom, but I don't have any recordings to show (I suppose you could check the short clips I've posted in the ezmap channel on RC which somewhat demonstrate it). It's a thing that's either caused by lidar jumps or the hardwood floor they're using I would guess.

There are several other factors like the initial angle being slightly off despite almost zero tole

[2021-11-04 10:19] MoffKalast commented on #100
Yeah that's my outlook too after checking the code again. I suppose what they're seeing looks very much like the robot would take the goal, transform it into local relative coords or something and then go towards it. It basically ends up at where the goal "was" when the action client first sent it, if that makes sense. It sure doesn't to me but that's what we're seeing somehow.

It's usually a mos

[2021-11-04 12:20] MoffKalast commented on #94
I think I managed to reproduce it with rviz simple goals, just dropped on the robot. If that's the case and you're running it with rosrun it may be some parameter changed by ezmap's launch of move_basic that causes this.

[2021-11-04 15:18] MoffKalast commented on #99
Hmm interesting idea, it would require a slight modification of sending the goals in the odom frame instead of map, but worth a shot to see what exactly happens. But probably nothing too useful I'd imagine though.

Apparently. I think they filtered out the "remaining x" messages, but nothing in terms of goal finishing somehow.

Yep.

Just normal route navigation with ezmap, nothing out of the ordi

[2021-11-04 16:04] MoffKalast commented on #99
So, a follow up on that, I've attempted to set all frames to odom which I think forces internal transform of the goal into odom and then working with that iirc.

    <param name="preferred_planning_frame" value="odom"/>
    <param name="alternate_planning_frame" value="odom"/>
    <param name="preferred_driving_frame" value="odom"/>
    <param name="alternate_driving_frame" value="odom"/>

The res

[2021-11-04 18:30] dorkamotorka commented on #100
What branch are they using. Generally this is how things were, before I implemented feature-external-force that updates the goal pose while driving: https://github.com/UbiquityRobotics/move_basic/commit/1ecb85582adc20da2c5a1fd4f01be3b482565e3d

Runaway check aborts triggers when the robot is pass the goal and most likely out of tolerance of the goal. Even if the robot misses the goal it marks it a

[2021-11-08 14:01] MoffKalast opened #102 "Status info"
So there seems to be a lot of info that move_basic is aware of during goal movement, but cannot be communicated back to the action client. There is technically a string in GoalStatus, but there doesn't seem to be a way to access that in the python implementation at least.

I would propose creating an extra topic where some of this data could be published, such as:
- current action being taken (rot

[2022-02-21 15:45] MoffKalast commented on #100
Okay so to restart this discussion now that we've got more data.

Seen on latest master, but I've done some testing this past week on older versions and it seems to check out at least until 0.4.1 It's probably the external force merge that started this bug in some form.

I don't think it's a thing with move_smooth though, so the question is if it's more worthwhile to fix this here or to fix move_s

[2022-02-21 15:47] MoffKalast commented on #98
Okay so I've got some client complaints about this very thing recently, so we should elevate the priority:

wheels. This causes the rear section to swing out during pivots. EZ-Map does
not appear to be aware of the location of the Magni's perimeter. In close
quarters, this produces collisions when pivoting, even though sufficient map
data is present. This needs to be addressed

[2022-03-06 18:50] dorkamotorka commented on #100
I agree with the second option.

[2022-03-22 21:23] MoffKalast opened #103 "RootRework: Move_smooth merge"
The move_smooth version of move_basic should get separated and moved back here as a branch (as a start) and then merged to become the main version later down the line once the rest of the issues are sorted out..

[2022-03-22 21:24] MoffKalast opened #104 "RootRework: Standalone collision checker"
As discussed, we should make an attempt to make the collision checker into a standalone node, which can publish info to other nodes as well.

[2022-03-22 21:27] MoffKalast opened #105 "RootRework: Zero Radius Turning"
Once move_smooth is added to this repo as a branch (issue #103 is prerequisite), we'll need to implement zero radius turning to mimic original move_basic behaviour. I've assigned Janez here as well for now until we have a better idea on who'll be working on this.

[2022-03-22 21:32] MoffKalast opened #106 "RootRework: General Refactor and Rewrite"
After #103 is done and we've got move_smooth to work on, we should do a general rewrite of the node to clean up the code and sort out or at least somewhat address the following issues and add required features:

- [ ] reducing fishtailing
- [ ] running away from/missing goals
- [ ] implementing a 2D PID system

[2022-03-22 21:36] MoffKalast opened #107 "RootRework: Better navigation?"
As discussed we'll try to implement two types of path planning:

- A* paths to do collision avoidance (Janez)
- a system that doesn't use occupancy grids (Jan)

We can open separate issues for each once we have more of an idea about what's the end goal for each.

[2022-03-23 07:38] dorkamotorka commented on #106
Why do you want to implement 2D PID system? I assume it's lateral and linear control but that's already done. I forgot but I think we are using Stanley lateral controller and linear is just max acceleration->max speed-> max decceleration.

[2022-03-23 14:45] MoffKalast commented on #106
I'm not sure, I wasn't directly involved with that discussion at the time but that's what I last remember being the plan. We should probably have a meeting to get on the same page about it.

[2022-03-24 11:22] JanezCim commented on #107
OK with a* this is where i am now:
![output](https://user-images.githubusercontent.com/8426792/159905728-6608be6a-ec72-466d-b4a9-6db29fff12ec.gif)

robot ran in Gazebo, slam with iris lama, in rviz you set a nav goal, ros navigation global planner calculates path to it using a*, outputs goal and magni follows it using move_basic
Next planned work: recaculate that path every x meters/ y seconds, re

[2022-03-24 11:43] MoffKalast commented on #107
Wait, does move basic actually have path following capabilities?

[2022-03-24 11:45] JanezCim commented on #107
Nope, goal manager is passing the specific points through actions

[2022-03-24 12:42] MoffKalast commented on #107
Ah ok, so how does it determine which points to send? Something like the farthest one in direct view?

[2022-03-24 14:06] JanezCim commented on #107
currently path is divided into 0.2m parts, and those points get sent to move basic to reach

[2022-03-24 15:00] JanezCim commented on #107
Here is an addition of path tracing. Whenever there appears an obstacle on the path, simply resends the end goal and let the astar do the rest:
![output](https://user-images.githubusercontent.com/8426792/159945668-2f97e23c-fd19-4993-b2aa-4e48436391b4.gif)

a couple of observations:
 - move basic stops at every intermediate point on the path so that is why the robot is so slow and clunky
 - astar t

[2022-03-25 12:27] MoffKalast commented on #107
Hmm I wonder if we could instead do this with sort of local map that updates faster. Instead of relying on a slam node, we could instead take the laserscan and treat any detections as obstacles to avoid and the rest as open space. There has been a lot of demand for very fast driving so that should probably be considered here.

Likely not as reliable but should be much faster I would think?

[2022-03-28 07:25] JanezCim commented on #107
Im not sure that raspberry would be up to the task but we can try. But when we add the local planner then that is basically 80% of move base added haha. Might as well implement the whole damn thing

[2022-03-28 13:34] JanezCim commented on #107
Teb local planner in action:

![output](https://user-images.githubusercontent.com/8426792/160409183-007d98a1-4099-4a67-8cae-8589add7773b.gif)

Comments:
 - works fine in gazebo with ok processing power
 - teb has lots of parameters but generally works ok out of the box
 - might be tough on RPI processors if this was actually running on the robot, so that remains to be seen.
 - If this was imepleme

[2022-04-20 11:41] JanLipovsek commented on #104
Input
-> laser_scan/point_cloud, robot_BB
Output
->Float  x_dist, -x_dist, +rot, -rot
-> Bool move_x+, move_x-, rot+, rot-

[2022-04-20 11:45] JanezCim commented on #103
@mbostic and @JanJericevic  look at move_basic and try to generate list of questions for @tp4348

goal: understand flow of program, precursor to actually working on merging.

[2022-04-20 11:58] JanezCim commented on #107
Plan: @JanezCim tries out a* on real robot

[2022-04-20 11:59] MoffKalast commented on #103
![Untitled Diagram drawio](https://user-images.githubusercontent.com/9977799/164225602-c454e864-5902-4cbd-8faa-16bb7f6a2864.png)

[2022-07-20 19:24] anfederman opened #108 "python version"
move_patterns.py is still on python, not python3

[2022-09-14 17:36] Connor-woodahl opened #109 "Unable to set up reversing API"
When trying to run the following on our AGV,

cd /home/ubuntu/catkin_ws/src/move_basic
git pull
git checkout reversing
cd /home/ubuntu/catkin_ws/src/ezmap
git pull
git checkout v1.1.4-QCM-reversing

I ran into an error when trying to perform the second pull:
remote: Repository not found.
fatal: repository 'https://github.com/UbiquityRobotics/ezmap.git/' not found

[2022-09-14 19:52] anfederman commented on #109
Ez map is a private repository, you need to be given permission to see or
download.

On Wed, Sep 14, 2022, 10:37 AM Connor-woodahl ***@***.***>
wrote:

[2022-09-14 20:00] anfederman commented on #109
Dave Crawley  ***@***.***) Is an owner, and can grant
permission to ezmap. You will need to tell us your github account name.

On Wed, Sep 14, 2022 at 12:52 PM Alan Federman ***@***.***>
wrote:

[2022-09-14 20:33] Connor-woodahl commented on #109
Github account: Connor-woodahl

[2022-09-15 07:06] MoffKalast commented on #109
Seems like your initial email invite has expired, check your inbox for another one.

[2022-09-15 17:09] Connor-woodahl commented on #109
Thank you!

[2022-09-15 17:09] #109 closed, assigned to nobody

[2022-11-10 20:16] jvasi opened #110 "ROS Noetic debian package (ros-noetic-move-basic) built from different source/possibly outdated"
The version of the ROS Noetic debian package currently has an issue that it doesn't detect obstacles from LiDAR and the robot crashes into the obstacles.

The issue is not present if the source code is checked out (branch: noetic-devel) into the ROS workspace.